{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/styles/dashboard.css">
{% endblock %}

{% block body %}
<div id="overlay"></div>
<dialog id="expenditureDialog">
  <form>
    <h1>Add Expenditure</h1>
    <br>
    <div class="inputField">
      <label for="newExpenditure">How much did you spend?</label>
      <input type="number" id="newExpenditure" min="0" required>
    </div>
    <div class="inputField">
      <label for="category">What did you spend on?</label>
      <select id="category">
        <option value="meals">Meals</option>
        <option value="groceries">Groceries</option>
        <option value="movies">Movies & TV</option>
        <option value="clothes">Clothes</option>
        <option value="school">School</option>
        <option value="home">Home Appliances</option>
        <option value="entertainment">Entertainment</option>
        <option value="investment">Investment</option>
        <option value="other">Other</option>
      </select>
    </div>
    <button type="submit">Add</button>
  </form>
</dialog>
<dialog id="incomeDialog">
  <form>
    <h1>Add Income</h1>
    <br>
    <div class="inputField">
      <label for="newIncome">How much did you earn?</label>
      <input type="number" id="newIncome">
    </div>
    <div class="inputField">
      <label for="incomeTypes">What type of income is it?</label>
      <select id="incomeTypes">
        <option value="primary">Primary</option>
        <option value="investment">Investment</option>
        <option value="present">Present</option>
        <option value="other">Other</option>
      </select>
    </div>
    <button>Add</button>
  </form>
</dialog>
<div id="charts">
  <div id="pieContainer">
    <canvas id="pie"></canvas>
  </div>
  <div class="vl"></div>
  <div id="bars">
    <div class="bar">
      <h2>Budget</h2>
      <p>How much of your weekly budget have you used?</p>
      <progress id="budget" max="{{ user.budget }}" value="{{ user.expenditure }}"></progress>
      <p>${{ user.expenditure }} / ${{ user.budget }}</p>
    </div>
    <div class="bar">
      <h2>Invested</h2>
      <p>How much of your budget have you invested?</p>
      <progress id="invested" max="{{ user.budget }}" value="{{ user.invested }}"></progress>
      <p>${{ user.invested }} / ${{ user.budget }}</p>
    </div>
  </div>
</div>
<div id="buttons">
  <button id="expenditure">Add Expenditure</button>
  <button id="income">Add Income</button>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/scripts/dashboard.js"></script>
{% endblock %}
