<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/index.css">
  <title>WealthWise</title>
</head>
<body>
  <header>
    <h1>WealthWise</h1>
    <button>Get Started</button>
  </header>
  <div>
    <h2>About us</h2>
    <p>WealthWise is a website dedicated to helping people achieve financial
      literacy and stability through education and budget tracking tools.
      Our goal is to empower individuals to take control of their finances and
      make informed decisions about their money. With WealthWise, users can 
      earn about budgeting, saving, and investing, as well as track their
      expenditure and savings progress in real-time. We strive to make personal
      finance accessible and easy to understand for everyone, regardless of
      their current financial situation. </p>
      <h2>What sets us apart?</h2>
    <p>
      WealthWise is also designed to be user-friendly and easy to navigate. Our
      interface is intuitive and allows users to quickly and easily input their
      income and expenses, and track their progress over time. 
      
      Overall, WealthWise is a comprehensive resource for anyone looking to
      improve their financial literacy and take control of their finances.
      Whether you're a student just starting out, a working professional
      looking to save for retirement, or anyone in between, WealthWise has the
      tools and resources you need to achieve your financial goals. Join
      WealthWise today and start your journey to financial freedom!</p>
    </div>
    <footer>WealthWise is not reposnsible for any financial decisions you take out with your consent. For any technical support, please contact srinethala123@gmail.com</footer>
</body>
</html>