<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/index.css">
  <title>WealthWise</title>
</head>
<body>
  <header>
    <div>
      <img src="/images/WealthWise.png" alt="WealthWise Logo">
    </div>
    <a href="/login">Get Started with WealthWise</a>
  </header>
  <div>
    <h2>About us</h2>
    <p>
      WealthWise is a hackathon project built by 3 computer science students for TAMUhack. It's a
      tool designed to help students learn about financial literacy. It helps you keep track of your
      income, budget, expenditure, in a pretty, intuitive, and extensive interface. It lets you
      classify the type of expenditure or income you have, so even if you don't have a persistent
      source of recurring income, you can enter the amount you have in your account, and it'll let
      you add any additional credits.
    </p>
    <h2>What sets us apart?</h2>
    <p>
      WealthWise is also designed to be user-friendly and easy to navigate. Our
      interface is intuitive and allows users to quickly and easily input their
      income and expenses, and track their progress over time.

      Overall, WealthWise is a comprehensive resource for anyone looking to
      improve their financial literacy and take control of their finances.
      Whether you're a student just starting out, a working professional
      looking to save for retirement, or anyone in between, WealthWise has the
      tools and resources you need to achieve your financial goals. Join
      WealthWise today and start your journey to financial freedom!</p>
    </div>
    <footer>WealthWise is not reposnsible for any financial decisions you take.</footer>
</body>
</html>
