<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="templates/style.css.css">
  <title>WealthWise</title>
</head>
<body>
  <header><button>Sign In</button></header>
  <h1>WealthWise</h1>
  <p>We are an innovative solution to everyone's financial problems. Gain financial literacy by signing up and learning what aspects of life you can save money on and make wise decisions so you better spend your hard earned income. We provide support with:</p>
  <ul>
    <li>Savings</li>
    <li>Investing</li>
    <li>Financial Planning</li>
  </ul>
    <p>WealthWise is not reposnsible for any financial decisions you take out with your consent. For any technical support, please contact srinethala123@gmail.com</p>
</body>
</html>