<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}WealthWise{% endblock %}</title>
  <link rel="shortcut icon" href="/images/WealthWise.png" type="image/x-icon">
  <link rel="stylesheet" href="/styles/main.css">
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    {% if user.profile_completed %}
    <a href="/dashboard">
      Dashboard
    </a>
    {% endif %}
    <h1>
      <img src="/images/WealthWise.png" alt="WealthWise Logo">
      <a href="/">WealthWise</a>
    </h1>
    {% if user.profile_completed %}
    <a href="/profile">Profile</a>
    {% endif %}
  </header>
  <main>
    {% block body %}{% endblock %}
  </main>
  <footer>
    © 2023 | <a href="https://github.com/ArjunKumar177/WealthWise">GitHub</a>
  </footer>
  <script src="/scripts/cash.min.js"></script>
  <script>
    const username = "{{ user.username | safe }}";
  </script>
  {% block javascript %}{% endblock %}
</body>
</html>
