<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}WealthWise{% endblock %}</title>
  <link rel="stylesheet" href="/styles/main.css">
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <button id="menu">≡</button>
    <h1><a href="/">WealthWise</a></h1>
    <button id="signin"><a href="/logout">{{session.userinfo.name}}</a></button>
  </header>
  <main>
    {% block body %}{% endblock %}
  </main>
  <footer>
    © 2023
  </footer>
  {% block javascript %}{% endblock %}
</body>
</html>
