{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/styles/profile.css">
{% endblock %}

{% block body %}
{% if not user.profile_completed %}
<h1>Complete your profile to proceed:</h1>
{% else %}
<h1>Profile</h1>
<form id="completeProfile">
  <div class="inputField">
    <label for="budget">Enter a monthly budget:</label>
    <input type="number" id="budget" min="0" required value="{{ user.budget }}">
  </div>
  <div class="inputField">
    <label for="income">Enter a monthly income:</label>
    <input type="number" id="income" min="0" required value="{{ user.income }}">
  </div>
  <div class="inputField">
    <label for="account">What's your total account balance?</label>
    <input type="number" id="account" min="0" required value="{{ user.account }}">
  </div>
  <button type="submit">Submit</button>
</form>
<br><br>
{% endif %}
<h2>Add a new transaction</h2>
<form id="newTransaction">
  <div class="date">
    <input class='datePick' id='datePicker' type="date" name="trip-start">
  </div>
  <div class="dropdown">
    <select class="dropbtn" id="transactionType">
      <option value="expenditure">Expenditure</option>
      <option value="income">Income</option>
    </select>
  </div>
  <div class="dropdown">
    <select class="dropbtn" id="expenditureTypes">
      <option value="meals">Meals</option>
      <option value="groceries">Groceries</option>
      <option value="movies">Movies & TV</option>
      <option value="clothes">Clothes</option>
      <option value="school">School</option>
      <option value="home">Home Appliances</option>
      <option value="entertainment">Entertainment</option>
      <option value="investment">Investment</option>
      <option value="other">Other</option>
    </select>
    <select class="dropbtn" id="incomeTypes">
      <option value="primary">Primary</option>
      <option value="investment">Investment</option>
      <option value="present">Present</option>
      <option value="other">Other</option>
    </select>
  </div>
  <input class="amount" name="Type Amount" id="amount" type="text" min="0" placeholder="Amount"/>
  <div class="send">
    <button class="submit" id="submitTransaction">Submit</button>
  </div>
</form>
<br><br>
<h2>Transactions</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Category</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    <tr>
      <td>{{transaction['date']['$date'] | date}}</td>
      <td>{{transaction.transaction_type}}</td>
      <td>{{transaction.category}}</td>
      <td>{{transaction.amount}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block javascript %}
<script src="/scripts/profile.js"></script>
{% endblock %}
