{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/styles/profile.css">
{% endblock %}

{% block body %}
{% if not user.profile_completed %}
<form id="completeProfile">
  <h2>Complete your profile to proceed:</h2>
  <div class="inputField">
    <label for="budget">Enter a monthly budget:</label>
    <input type="number" id="budget" min="0" required>
  </div>
  <div class="inputField">
    <label for="income">Enter a monthly income:</label>
    <input type="number" id="income" min="0" required>
  </div>
  <div class="inputField">
    <label for="account">What's your total account balance?</label>
    <input type="number" id="account" min="0" required>
  </div>
  <br>
  <button type="submit">Submit</button>
</form>
<br>
{% else %}
<h1>Profile</h1>
<br>
<a href="/dashboard" id="dashboard" class="button">Go to dashboard</a>
<br><br><br>
{% endif %}
<form id="transaction_row" class="row">
  <div class="date">
    <label for="datePicker">Start date:</label>
    <input class='datePick' id='datePicker' type="date" name="trip-start">
    <script>
      document.getElementById('datePicker').valueAsDate = new Date();
    </script>
  </div>
  <div class="dropdown">
    <!-- <button class="dropbtn">transaction type</button>
    <div class="dropdown-content">
        <a href="#">Spending</a>
        <a href="#">Earning</a>
      </div> -->

    <select class="dropbtn" name="transaction_type" id="transaction_type">
      <option value="" selected disabled hidden>Transaction type</option>
      <option value="expenditure">Expenditure</option>
      <option value="income">Income</option>
    </select>
  </div>
  <div class="dropdown">
    <select class="dropbtn" id="category_types">
      <option value="" selected disabled hidden>Categories</option>
      <option value="meals">Meals</option>
      <option value="groceries">Groceries</option>
      <option value="movies">Movies & TV</option>
      <option value="clothes">Clothes</option>
      <option value="school">School</option>
      <option value="home">Home Appliances</option>
      <option value="entertainment">Entertainment</option>
      <option value="investment">Investment</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="input">
    <input class="amount" name="Type Amount" id="amount"/>
  </div>
  <div class="send">
    <button class="submit" id="submitTransaction">Submit</button>
  </div>
</form>
<br><br>
<div id="form-response"></div>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Category</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    <tr>
      <td>{{transaction['date']['$date']}}</td>
      <td>{{transaction.transaction_type}}</td>
      <td>{{transaction.category}}</td>
      <td>{{transaction.amount}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block javascript %}
<script src="/scripts/profile.js"></script>
{% endblock %}
