main {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

#charts {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-family: sans-serif;

  .vl {
    height: 50vh;
    border: 2px solid var(--foreground);
    margin-top: 4rem;
  }
}

#pieContainer, #bars {
  width: 30vw;
}

.bar {
  padding: 1rem 2rem;

  progress {
    appearance: none;
    background-color: #eee;
    border-radius: 1.5rem;
    border: none;
    width: 100%;
    height: 3rem;
  }

  progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3rem;
  }

  progress::-webkit-progress-value {
    border-radius: 3rem 0 0 3rem;
  }

  #budget::-moz-progress-bar {
    background-color: var(--expended);
  }

  #budget::-webkit-progress-value {
    background-color: var(--expended);
  }

  #invested::-moz-progress-bar {
    background-color: var(--invested);
  }

  #invested::-webkit-progress-value {
    background-color: var(--invested);
  }
}

#buttons {
  display: flex;
  justify-content: space-between;
  margin: 2rem;

  button {
    padding: .75rem 2rem;
  }
}

dialog {
  select, input {
    width: 200px !important;
  }
}
