@font-face {
  font-family: Domine;
  src: url(/fonts/Domine-Regular.ttf);
  font-weight: bold;
}

header {
  background-color: #19BC16;
  background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    text-align: center;
    color: white;
    font-family: Domine;
    margin-top: 100px;
    font-size: 60px;
  }

  button {
    margin: auto;
    border-radius: 5px;
    border-color: white;
    font-family: Domine;
    cursor: pointer;
    border: 0px solid white;
    background-color: #138611;
    
    height: 50px;
    width: 200px;
    color: white;
    font-size: 1.5em;
    transition-duration: 0.4s;
    background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");

    a {
      color: #fff;
      text-decoration: none;
    }
  }
  button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

html, body {
  height: 100%;
}

body {
  background-color: #222;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

body > div {
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: white;
  padding: 0 10vw;

  h2 {
    text-align: center;
  }
}

p {
  margin: 30px;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: justify;
}

footer {
  font-family: Domine;
  text-align: center;
  color: white;
  background-color: #222;
  padding: 1rem 2rem;
}

h2 {
  margin: 30px;
  font-family: Domine;
  margin-bottom: 0;
}
