@font-face {
  font-family: Domine;
  src: url(/fonts/Domine-Regular.ttf);
  font-weight: bold;
}

header {
  background-color: #4fc3f7;
  background-image: url("https://www.transparenttextures.com/patterns/type.png");
  padding: 6vh 0;
  display: flex;
  justify-content: center;
  flex-direction: column;

  > div {
    text-align: center;
    color: #fff;
    font-size: 60px;
  }

  a {
    background-color: #29b6f6;
    background-image: url("https://www.transparenttextures.com/patterns/type.png");
    border-radius: 5px;
    color: #fff;
    font-family: Domine, serif;
    font-size: 1.5rem;
    margin: auto;
    padding: .75rem 2rem;
    text-decoration: none;
    transition-duration: 0.4s;
  }

  a:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
}

html, body {
  height: 100%;
}

body {
  background-color: #222;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

body > div {
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: white;
  padding: 0 10vw;

  h2 {
    text-align: center;
    margin: 2em 0 0 0;
  }
}

p {
  margin: 30px;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: center;
}

footer {
  font-family: Domine;
  text-align: center;
  color: white;
  background-color: #222;
  padding: 1rem 2rem;
}

h2 {
  margin: 30px;
  font-family: Domine;
  margin-bottom: 0;
}
