:root {
  --background: #222;
  --foreground: #fff;
  --background-dark: #111;
  --accent: #4fc3f7;
  --expended: #f44336;
  --invested: #2196f3;
}

html, body {
  min-height: 100vh;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  background-color: var(--background-dark);
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 5rem;

  h1 {
    font-family: Domine, serif;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20%);

    img {
      height: 2em;
      margin-right: 1rem;
    }

    a {
      text-decoration: none;
      color: var(--foreground);
    }
  }

  > a, button {
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    color: #000;
    font-family: sans-serif;
    font-weight: 500;
    display: flex;
    margin: auto 1rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
  }
}

button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

footer {
  background-color: var(--background-dark);
  display: flex;
  font-family: Domine, serif;
  font-size: 1rem;
  padding: 1rem;

  a {
    color: var(--foreground);
    margin-left: .5em;
  }
}

main {
  flex-grow: 1;
  padding: 1em 10vw;
}

button, .button {
  background-color: var(--accent);
  border: none;
  border-radius: 5px;
  color: #000;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 500;
  padding: .5rem 1rem;
  text-decoration: none;
}

#overlay {
  background-color: #00000066;
  backdrop-filter: blur(5px);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

dialog {
  background-color: var(--background);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 12px 8px var(--shadow);
  color: var(--foreground);
  font-family: sans-serif;
  max-height: calc(95vh - 2rem);
  min-width: 50%;
  max-width: calc(95vw - 2rem);
  overflow: auto;
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;

  h1 {
    margin: 0 0 1rem 0;
  }
}

form {
  font-family: sans-serif;

  .inputField {
    padding: 0 0 2rem 0;

    label {
      font-size: 1.1rem;
      margin-right: 1rem;
    }

    input, select {
      appearance: none;
      -moz-appearance: textfield;
      background: none;
      border: 1px solid var(--foreground);
      border-radius: 5px;
      color: var(--foreground);
      font-size: 1rem;
      padding: .5rem 1rem;
    }

    input:focus {
      outline: none;
    }
  }
}
