:root {
  --background: #222;
  --foreground: #fff;
  --background-dark: #111;
  --accent: #4fc3f7;
  --expended: #f44336;
  --invested: #2196f3;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  background-color: var(--background-dark);
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 5rem;

  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    a {
      text-decoration: none;
      color: var(--foreground);
    }
  }

  > a, button {
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    color: #000;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    margin: auto 1rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
  }
}

button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

footer {
  background-color: var(--background-dark);
  display: flex;
  padding: 1rem;
}

main {
  flex-grow: 1;
  padding: 1em 10vw;
}
