/* Dropdown Button */
.dropbtn, .datePick, .input, .submit {
  background-color: var(--accent);
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

/* .datePick{
    background-color: #26a69a;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
} */

.dropdown, .date, .send {
  padding: 0px 8px;
}

.submit:hover {
  background-color: aquamarine;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
//   .dropdown:hover, .dropbtn:hover, .datePick:hover {
//     border: 2px solid rgb(85, 84, 84);
// }

h2 {
  font-family: sans-serif;
}

form {
  background-color: var(--background-dark);
  border-radius: 10px;
  padding: 2rem;

  input {
    width: 7rem;
  }
}

#newTransaction {
  display: flex;

  input[type=text] {
    appearance: none;
    background: none;
    border: 2px solid var(--accent);
    border-radius: 5px;
    color: var(--foreground);
    padding: .25em 1em;
  }

  input:focus {
    outline: none;
  }
}

#incomeTypes {
  display: none;
}

#datePicker {
  width: 9rem;
}

table {
  border: 1px solid #888;
  border-collapse: collapse;
  font-size: 1.1rem;
  font-family: sans-serif;
  width: 100%;

  th, td {
    border: 1px solid #888;
    border-width: 0 1px;
    padding: 1rem;
  }

  thead tr {
    border-bottom: 2px solid #888;
  }

  thead tr, tr:nth-child(even) {
    background-color: var(--background-dark);
  }
}
